{{> menu }}

<div class="chatroom">
    <div class="info">
        <h1>  {{ chatroom.name }} </h1>
        <h4>  {{ chatroom.description }} </h4>
        <h6>  {{ chatroom.createdDate }} </h6>
    </div>

    <div class="container">
        <div class="question">
            {{{chatRoomQuestion chatroom.question }}}
        </div>
        <div class="answers">
            {{> answerTemplate chatroom.answers }}
        </div>
    </div>

    <div class="container">
        <div class="one">
            <div class="user">
                {{> userTemplate chatroom.users }}
            </div>
        </div>

        <div class="two">
            <div class="message">
                {{> messageTemplate chatroom.messages}}
            </div>

            <textarea id="message" rows="4" cols="50"></textarea> <br />
            <button onclick='sendMessage()'>Send Message</button> <span id="emptyMessage"></span>
        </div>
    </div>
    <input type="hidden" id="chatroom_id" name="chatroom_id" value="{{ chatroom._id }}">
</div>

<script type="text/javascript">
    setInterval(update, 6000);
</script>